@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Orbitron:wght@400..900&family=Pixelify+Sans:wght@400..700&display=swap');

    body {
        display: grid;
        align-items: start;
        margin: 0%;
        background-color: rgb(17, 17, 17);
        grid-template-columns: 25vw 1fr;
    }

    .Sidebar{
        position: sticky;
        top: 0;
        width: 25vw;
        height: 100vh;
        align-self: start;
        background-color: rgb(10, 10, 10);
        z-index: 0;
    }

    .ProfilePic{
        position: sticky;
        width: 25vw;
        height: 25vh;
        display: flex;
        justify-content: center; /* horizontal centering */
        margin-top: 5%;
        z-index: 0;
    }

    .Title{
        display: flex;
        justify-content: center; /* horizontal centering */
        color: #f5deb3;
        font-family: "Orbitron", sans-serif;
        font-size: 3vw;
        font-size: 3vh;  
    }

    .SubTitle{
        display: flex;
        justify-content: center; /* horizontal centering */
        color: #f5deb3;
        font-family: "Gruppo", sans-serif;
        font-size: 3vw;
        font-size: 3vh;  
    }    

    .ButtonSidebarWrapper
    {
        display: flex;
        position: sticky;
        flex-direction: column;
        gap: 5vw;
        gap: 3vh;
        align-items: center; 
        margin-top: 30%;
        width: 25vw;
        height: 25vh;  
    }
    .ButtonSidebar
    {
        display: block;
        background: transparent;
        color: #f5deb3;
        font-size: 2vh;
        border: none;        /* optional: remove border */
        box-shadow: none;    /* optional: remove shadow if any */
        text-align: left;
        height: 2vw;
        width: 25vh;
        cursor: pointer;
    }

    .OpenAreaWrapper{
        display: flex;
        position: relative;
        justify-content: left;
        object-fit: cover;
        top: 0;
        width: 75vw;
        height: 100vh;
        overflow-y: auto;
        z-index: 0;
        flex-wrap: wrap; /* wrap to next line if needed */
    }

    .ContentBox
    {
        margin: 1%;
        position: relative;
        object-fit: cover;
        top: 0;
        left: 0;
        background-color: rgb(29, 29, 29);
        width: 23vw;
        height: 50vh;
        border: 0.1vh solid #f5deb3; 
        border-radius: 2vh;
        z-index: -10;
    }

    .ContentBoxImage
    {
        display: flex;
        align-items: center; /* horizontal centering */
        justify-content: center;
        width: 23vw;
        height: 35vh;
        border-radius: 2vh;
        overflow: hidden;   
    }

    .ContentBoxHeader{
        display: flex;
        justify-content: left; /* horizontal centering */
        margin-top: 4vh;
        margin-left: 1vw;
        color: #f5deb3;
        font-family: "Gruppo", sans-serif;
        font-size: 3vh;
    }

    .TagsWrapper{
        width: 23vw;
        height: 7vh;
        display: flex;
        flex-direction: row; /* row for horizontal */
        gap: 0vh;
        flex-wrap: wrap; /* wrap to next line if needed */
    }

    .TagText{
        margin-left: 0.9vw;
        position: relative;
        color: #f5deb3;
        background-color: rgb(17, 17, 17);
        border: 0.1vh solid #f5deb3; 
        border-radius: 3vh;
        font-family: "Gruppo", sans-serif;
        font-size:  1.7vh;
        width: 6vw;
        height: 1.8vh;
        text-align: center;
    }
    